html {
    scroll-behavior: smooth;
}
body{
    text-align: justify;
    padding: 10px;
}
.content{
    /*margin-left: 5px;*/
    padding: 10px;
    border: 1px dashed blueviolet;    
}
.col_text{
    margin-right: 10px;
    line-height: 2;
}
.sidebar{
    background-color: #3c4b64;    
}
.sidebar-nav{
    display: flex;
    flex: 1 1;
    flex-direction: column;
    list-style: none;
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: relative;
}
.sidebar-brand{
    background-color: #303C54;
    color: #DFE6E9;
    align-items: center;
    justify-content: center;
    display: flex;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.nav-link{
    align-items: center;
    background: var(--cui-sidebar-nav-link-bg,transparent);
    color: var(--cui-sidebar-nav-link-color,hsla(0,0%,100%,.6));
    display: flex;
    flex: 1 1;
    padding: 0.8445rem 1rem;
    text-decoration: none;
    transition: background .15s ease,color .15s ease;
    white-space: nowrap;
    justify-content: left;
}

.sidebar a:hover{
    color:#D2E2EA;
    background-color: #46546C;
}
